:root {
    color-scheme: light dark;
}


body {
    width: 300px;
    padding: 15px;

    font-family: system-ui;
}

.relay {
    margin-top: 10px;
    font-size: 80%;
    color: darkred;
}

.help {
    margin-top: 10px;
}

.disclaimer {
    margin-top: 10px;
    font-size: 50%;
    color: green;
}