:root {
    color-scheme: light dark;
}

body {
    width: 500px;
    padding: 10px;

    font-family: system-ui;
}

.profiles label {
    width: 80px;
    display: inline-block;
}

.profiles {
    margin-bottom: 15px;
}

.key {
    margin-bottom: 15px;
}

/* @media (prefers-color-scheme: dark) {} */
