:root {
    color-scheme: light dark;
}


body {
    width: 300px;
    padding: 10px;

    font-family: system-ui;
}

label {
    display: inline-block;
    width: 100px;
}

input {
    width: 100%;
}

.profile-buttons {
    width: 100%;
}

#priv-key, #pub-key {
    font-family: monospace;
}

.profiles label {
    width: 80px;
    display: inline-block;
}

.profiles {
    margin-bottom: 15px;
}

.profile-name {
    margin-bottom: 15px;
}

.key {
    margin-bottom: 15px;
}

.buttons {
    margin-bottom: 15px;
}

td:first-child {
    width: 50px;
}

td:nth-child(2) {
    width: 100px;
}

tr {
    margin-bottom: 10px;
}

.disclaimer {
    margin-top: 15px;
    font-size: 50%;
    color: green;
}

/* @media (prefers-color-scheme: dark) {} */
